<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
</head>
<body>
    <h1>Employee List</h1>
    <a href="/employee/new">Create Employee</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Department</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>
            <td th:text="${employee.department.deptname}"></td>
        </tr>
    </table>
</body>
</html>
